@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing-page-container {
  height: max(100vh, 788.5px);
  width: max(100vw, 1440px);
  background-image: url("./assets/background-contratante.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.logo {
  height: 65px;
  width: 65px;
  background: conic-gradient(
    from 180deg,
    rgba(108, 181, 222, 0.8),
    rgba(121, 236, 119, 0.8)
  );
  border-radius: 10px;
  color: #41528d;
  font-family: "Sriracha", cursive;
}

.logo:hover {
  background: conic-gradient(
    from 180deg,
    rgba(108, 181, 222, 1),
    rgba(121, 236, 119, 1)
  );
  cursor: pointer;
}

.logo-d {
  margin: 0px;
  font-size: 40px;
  position: relative;
  bottom: 13px;
}

.logo-market {
  margin: 0px;
  position: relative;
  bottom: 35px;
}

.landing-page-navbar-logo-container {
  margin: 2.5px 2.5px 2.5px 15px;
}

.landing-page-navbar {
  height: 72px;
  width: max(100vw, 1440px);
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  margin: 0px 0px 30px 0px;
  display: flex;
}

.landing-page-card {
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  top: 49.5px;
}

.landing-page-card-top {
  height: 617.9px;
  width: 1180px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px 30px 0px 0px;
  backdrop-filter: blur(10px);
  font-family: "Poppins", sans-serif;
  color: #41528d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-page-card-bottom {
  height: 70px;
  width: 1180px;
  color: #41528d;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-page-card-title {
  font-size: 64px;
  margin: 0px;
}

.landing-page-card-subtitle {
  font-size: 28px;
  margin: 0px 0px 100px 0px;
}

.landing-page-card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.landing-page-card-button-container-disigners {
  margin: 0px 2px 0px 0px;
}

.landing-page-card-button-container-business {
  margin: 0px 0px 0px 2px;
}

.landing-page-card-button-title {
  font-size: 24px;
  margin: 0px;
}

.landing-page-card-button-disigners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(108, 181, 222, 0.6);
  width: 27rem;
  height: 6.7rem;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.landing-page-card-button-disigners:hover {
  background-color: rgba(108, 181, 222, 1);
  cursor: pointer;
}

.landing-page-card-button-business {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 236, 119, 0.6);
  width: 27rem;
  height: 6.7rem;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.oferta-detalle-button-verde {
  margin-top: 170px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 236, 119, 0.6);
  width: 200px;
  height: 50px;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.oferta-detalle-button-verde-2 {
  margin-top: 450px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 236, 119, 0.6);
  width: 200px;
  height: 50px;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.pago-detalle-button-verde-2 {
  margin-top: 450px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 236, 119, 0.6);
  width: 350px;
  height: 100px;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.subir-button-verde {
  margin-top: -350px;
  margin-left: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 236, 119, 0.6);
  width: 200px;
  height: 50px;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.subir-button-verde-2 {
  margin-top: -30px;
  margin-left: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 236, 119, 0.6);
  width: 200px;
  height: 50px;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.landing-page-card-button-business:hover {
  background-color: rgba(121, 236, 119, 1);
  cursor: pointer;
}

.landing-page-card-button-in-title {
  font-size: 36px;
  margin: 0px;
}

.designer-pago-card-button-in-title {
  font-size: 30px;
  margin: 0px;
}

.archivos-page-card-button-in-title {
  font-size: 20px;
  margin: 0px;
}

.landing-page-card-button-in-subtitle {
  font-size: 24px;
  margin: 0px;
}

.landing-page-contact-card-button-in-title {
  font-size: 36px;
  margin: 0px 0px 1px 0px;
}

.landing-page-contact-card-button-in-subtitle {
  font-size: 24px;
  margin: 1px 0px 0px 0px;
}

.designer-pages-container {
  height: max(100vh, 788.5px);
  width: max(100vw, 1440px);
  background-image: url("./assets/background-diseñador.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.business-pages-container {
  height: max(100vh, 788.5px);
  width: max(100vw, 1440px);
  background-image: url("./assets/background-contratante.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-card {
  height: 617.9px;
  width: 1180px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  font-family: "Poppins", sans-serif;
  color: #41528d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 29px 0px 0px 0px;
}

.designer-navbar {
  height: 72px;
  width: max(100vw, 1440px);
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-navbar {
  height: 72px;
  width: max(100vw, 1440px);
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.designer-navbar-logo-container {
  margin: 2.5px 2.5px 2.5px 15px;
}

.business-navbar-logo-container {
  margin: 2.5px 2.5px 2.5px 15px;
}

.business-navbar-icons-container {
  margin: 0px 15px 0px 0px;
}

.designer-navbar-icons-container {
  margin: 0px 15px 0px 0px;
}

.icon {
  margin: 0px 20px 0px 0px;
  fill: rgba(65, 82, 141, 0.6);
}

.icon:hover {
  fill: rgba(65, 82, 141, 1);
  cursor: pointer;
}

.buiness-profile-content-container {
  height: 572.9px;
  width: 1130px;
  display: flex;
  flex-direction: row;
}

.designer-calificacion-content-container {
  height: 572.9px;
  width: 1130px;
}

.designer-profile-content-column-1 {
  height: 572.9px;
  width: 600px;
}

.designer-oferta-detalle-content-column-1 {
  height: 572.9px;
  width: 450px;
}

.designer-profile-content-column-2 {
  height: 572.9px;
  width: 430px;

  margin-left: 100px;
}

.designer-oferta-detalle-content-column-2 {
  margin-top: 60px;
  height: 572.9px;
  width: 430px;
  margin-left: 0px;
}

.designer-oferta-detalle-content-column-3 {
  margin-top: 60px;
  height: 572.9px;
  width: 430px;
  margin-left: 0px;
}

.designer-profile-content-column-1-row-1 {
  height: 60px;
  width: 600px;
  display: flex;
  align-items: center;
}

.designer-poppins-64 {
  font-size: 64px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.buiness-profile-content-column-1 {
  height: 572.9px;
  width: 700px;
}

.buiness-profile-content-column-2 {
  height: 572.9px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.buiness-profile-content-column-1-row-1 {
  height: 134.8px;
  width: 700px;
  display: flex;
  align-items: center;
}

.buiness-profile-content-column-1-row-2 {
  height: 227px;
  width: 700px;
  display: flex;
  flex-direction: row;
}

.buiness-profile-content-column-1-row-3 {
  height: 43px;
  width: 700px;
  display: flex;
  align-items: center;
}

.buiness-profile-content-column-1-row-4 {
  height: 168.1px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buiness-profile-jobs-container {
  height: 148.1px;
  width: 680px;
  overflow-y: scroll;
}

#style-2::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#style-2::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#style-2::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#style-2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.poppins-64 {
  font-size: 64px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.designer-profile-content-container {
  height: 572.9px;
  width: 1130px;
  display: flex;
  flex-direction: row;
}

.designer-poppins-titulo {
  font-size: 45px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.designer-h3 {
  text-align: left;
  margin-left: 40px;
  font-weight: normal;
}
.designer-h3-right-1 {
  text-align: center;
  margin-left: 40px;

  margin-top: 100px;
}
.designer-h3-center {
  text-align: center;
  align-items: center;
  margin-top: 230px;
  margin-left: 200px;
  font-weight: nromal;
  font-size: larger;
}

.designer-h3-center-2 {
  text-align: center;
  align-items: center;
  margin-top: 230px;
  margin-left: 290px;
  font-weight: nromal;
  font-size: larger;
}

.designer-h3-right-2 {
  text-align: center;
  margin-left: 40px;
}

.designer-h3-3 {
  text-align: left;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 30px;
}

.designer-h3-4 {
  text-align: center;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 30px;
}

.designer-h3-2 {
  text-align: center;
  margin-left: 40px;
  font-weight: normal;
  color: #41528d;
  font-weight: bold;
}

.designer-profile-content-column-1-row-2 {
  height: 200px;
  width: 600px;
  display: flex;
  flex-direction: row;
}

.designer-profile-content-card {
  height: 350px;
  width: 600px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  font-family: "Poppins", sans-serif;
  color: #41528d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
}

.designer-profile-picture {
  height: 80%;
  width: 80%;
  background-image: url("assets/image profile.png");
  background-size: cover;
}

.designer-profile-description {
  background-color: rgba(108, 181, 222, 0.8);
  height: 100px;
  width: 398px;
  border-radius: 30px;
  display: flex;
  text-align: left;
  align-items: center;
}
.designer-profile-description-2 {
  margin-top: 10px;
  background-color: rgba(108, 181, 222, 0.8);
  height: 100px;
  width: 398px;
  border-radius: 30px;
  display: flex;
  text-align: left;
  align-items: center;
}
.texto-profile-description {
  margin-left: 30px;
  margin-right: 30px;
}

.texto-oferta-detalle-description {
  margin-left: 30px;
  margin-right: 30px;
}

.designer-oferta-detalle-description {
  background-color: rgba(108, 181, 222, 0.8);
  height: 170px;
  width: 398px;
  border-radius: 30px;
  display: flex;
  text-align: left;
  align-items: center;
}

.designer-calificacion-picture {
  background-color: blue;
  margin-left: 140px;
  margin-top: 40px;
  height: 100px;
  width: 100px;
  border-radius: 200px;
  background-image: url("./assets/contratante-calificacion.jpeg");
  background-size: cover;
}

.designer-calificacion-content-column-1 {
  height: 572.9px;
  width: 1000px;
}

.h3-calificacion {
  text-align: left;
  align-content: top;
  align-items: top;
  margin-top: -80px;
  margin-left: 285px;
  font-weight: bold;
}

.h3-calificacion-2 {
  text-align: left;
  align-content: top;
  align-items: top;
  font-weight: bold;
  margin-top: 120px;
  margin-left: 50px;
}

.calificacion-texto {
  height: 150px;
  width: 1000px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  font-family: "Poppins", sans-serif;
  color: #41528d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 29px 0px 50px 50px;
}

.buiness-profile-picture-container {
  height: 227px;
  width: 292px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buiness-profile-picture {
  background-color: blue;
  height: 217px;
  width: 217px;
  border-radius: 200px;
  background-image: url("./assets/buisiness-profile-pic.jpeg");
  background-size: cover;
}

.buiness-profile-description-container {
  height: 227px;
  width: 408px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buiness-profile-description {
  background-color: rgba(108, 181, 222, 0.8);
  height: 217px;
  width: 398px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buiness-profile-description-text-area {
  height: 187px;
  width: 368px;
  overflow-y: scroll;
  text-align: left;
}

#style-1::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#style-1::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#style-1::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#style-1::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.poppins-14 {
  font-size: 14px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.poppins-36 {
  font-size: 36px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.poppins-30-3 {
  font-size: 30px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
}

.business-profile-job-container {
  background-color: rgba(108, 181, 222, 0.8);
  text-align: left;
  margin: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.buiness-profile-num-des {
  height: 130px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buiness-profile-rating {
  height: 130px;
  width: 430px;
}

.buiness-profile-comments {
  height: 240px;
  width: 430px;
}

.poppins-30 {
  font-size: 24px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.poppins-30-d {
  font-size: 24px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 30px;
}
.poppins-30-d-1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-top: -10px;
}

.buiness-profile-num-des-container {
  background-color: rgba(108, 181, 222, 0.8);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.buiness-profile-star {
  fill: #61ff00;
}

.designer-calificacion-star {
  fill: #61ff00;
}

.buiness-profile-fifth-star {
  fill: linear-gradient(to right, green 0%, green 80%, red 80%, red 100%);
}

.designer-calificacion-fifth-star {
  fill: linear-gradient(to right, green 0%, green 80%, red 80%, red 100%);
}

.business-profile-comment-container {
  background-color: rgba(108, 181, 222, 0.8);
  text-align: left;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.buiness-profile-comments-conatiner {
  overflow-y: scroll;
  height: 196px;
}

.designer-profile-comments-conatiner {
  overflow-y: scroll;
  height: 160px;
}
.business-profile-comment-text-area {
  width: 300px;
}

.bussiness-create-job-container {
  height: 570px;
  width: 1130px;
}

.bussiness-create-job-content-row-1 {
  height: 110px;
  width: 1130px;
  text-align: left;
}

.bussiness-create-job-content-row-2 {
  height: 360px;
  width: 1130px;
  display: flex;
  flex-direction: row;
}

.bussiness-create-job-content-row-3 {
  height: 100px;
  width: 1130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bussiness-create-job-content-row-2-column-1 {
  height: 360px;
  width: 400px;
}

.bussiness-create-job-content-row-2-column-2 {
  height: 360px;
  width: 730px;
}

.button1 {
  background-color: rgba(121, 236, 119, 0.6);
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.button1:hover {
  background-color: rgba(121, 236, 119, 1);
  cursor: pointer;
}

.bussiness-create-job-content-row-2-column-1-element {
  height: 60px;
  text-align: left;
}

.bussiness-create-job-content-row-2-column-2-element-container {
  width: 730px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bussiness-create-job-content-text-area {
  background-color: rgba(108, 181, 222, 0.8);
  width: 730px;
  height: 50px;
  border-radius: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bussiness-create-job-content-text-area-content {
  background-color: transparent;
  resize: none;
  width: 700px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  border: none;
  color: #41528d;
}

.designer-profile-content-container {
  height: 572.9px;
  width: 1130px;
  display: flex;
  flex-direction: row;
}

.designer-calificacion-content-text-area-content {
  background-color: transparent;
  resize: none;
  height: 140px;
  width: 960px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  border: none;
  color: #41528d;
}

.designer-archivos-texto {
  text-align: left;
  margin-left: 280px;
  margin-top: -100px;
  font-weight: bold;
}

.designer-archivos-texto-2 {
  text-align: left;
  margin-left: 280px;
  margin-top: 90px;
  font-weight: bold;
}

.designer-archivos-texto-3 {
  text-align: left;
  margin-left: 280px;
  font-weight: bold;
}

.designer-archivos-texto-4 {
  text-align: left;
  margin-left: 280px;
  margin-top: 60px;
  font-weight: bold;
}

.designer-archivos-texto-5 {
  text-align: left;
  margin-left: 280px;
  font-weight: bold;
}

.business-job-list-content-container {
  height: 570px;
  width: 1130px;
}

.business-job-list-content-row-1 {
  height: 100px;
  width: 1130px;
  text-align: left;
}

.business-job-list-content-row-2 {
  height: 470px;
  width: 1130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-job-list-content-row-2-column-1 {
  height: 470px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow-icon {
  transform: rotate(180deg);
  margin: 0px 20px 0px 0px;
  fill: rgba(65, 82, 141, 0.6);
}

.left-arrow-icon:hover {
  fill: rgba(65, 82, 141, 1);
  cursor: pointer;
}

.business-job-list-content-row-2-column-2 {
  height: 470px;
  width: 890px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.business-job-card {
  height: 220px;
  width: 280px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.business-job-card:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.business-job-list-content-row-2-column-3 {
  height: 470px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow-icon {
  margin: 0px 20px 0px 0px;
  fill: rgba(65, 82, 141, 0.6);
  position: absolute;
  position: relative;
  left: 17px;
}

.right-arrow-icon:hover {
  fill: rgba(65, 82, 141, 1);
  cursor: pointer;
}

.business-job-card-title {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-job-card-description {
  height: 120px;
  width: 200px;
  overflow-y: scroll;
  text-align: left;
}

.business-job-card-description-container {
  background-color: rgba(108, 181, 222, 0.8);
  height: 140px;
  width: 230px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#style-3::-webkit-scrollbar {
  width: 0px;
}

.cartera {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  height: 70px;
  width: 410px;
  position: absolute;
  top: 80px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(65, 82, 141, 1);
}

.business-job-selection-content-container {
  height: 570px;
  width: 1130px;
}

.business-job-selection-content-row-1 {
  height: 100px;
  width: 1130px;
  text-align: left;
}

.business-job-selection-content-row-2 {
  height: 65px;
  width: 1130px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-job-selection-content-row-3 {
  height: 340px;
  width: 1130px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.business-job-selection-content-row-4 {
  height: 65px;
  width: 1130px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-arrow-icon {
  transform: rotate(270deg);
  margin: 0px 20px 0px 0px;
  fill: rgba(65, 82, 141, 0.6);
}

.up-arrow-icon:hover {
  fill: rgba(65, 82, 141, 1);
  cursor: pointer;
}

.down-arrow-icon {
  transform: rotate(90deg);
  margin: 0px 20px 0px 0px;
  fill: rgba(65, 82, 141, 0.6);
}

.down-arrow-icon:hover {
  fill: rgba(65, 82, 141, 1);
  cursor: pointer;
}

.business-job-applicant-card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  height: 80px;
  margin: 5px;
}

.business-job-applicant-name {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
}

.business-job-applicant-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.business-job-applicant-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 720px;
}

.button2 {
  background-color: rgba(108, 182, 222, 0.6);
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: solid;
  border-width: thin;
}

.button2:hover {
  background-color: rgba(108, 182, 222, 1);
  cursor: pointer;
}

.business-job-working-column-1 {
  height: 570px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.business-job-working-column-2 {
  height: 570px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-job-working-container {
  display: flex;
}

.business-job-working-image-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  height: 410px;
  width: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-job-working-image {
  background: black;
  height: 125px;
  width: 340px;
  background-image: url("./assets/waterMark.png");
  background-size: fit;
}

.separator {
  height: 30px;
  width: 20px;
}

#imagen {
  background-image: url("./assets/newLog.png");
  height: 120px;
}

#imagen2 {
  background-image: url("./assets/imagen.jpeg");
}
